<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.cmpt276.titanium">

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher_practical_parent"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_practical_parent_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Titanium">
        <activity
            android:name=".ui.tasks.TaskHistoryActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver android:name=".ui.timer.TimerBroadcastReceiver" />

        <service android:name=".ui.timer.TimerService" />

        <activity
            android:name=".ui.TakeBreathActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:exported="true"
            android:parentActivityName=".ui.MenuActivity"
            android:theme="@style/Theme.Titanium" />
        <activity
            android:name=".ui.coinflip.ChangeChildActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:exported="true"
            android:parentActivityName=".ui.coinflip.ChildQueueActivity" />
        <activity
            android:name=".ui.coinflip.ChildQueueActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:exported="true"
            android:parentActivityName=".ui.coinflip.CoinFlipActivity" />
        <activity
            android:name=".ui.coinflip.CoinFlipActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:exported="true"
            android:parentActivityName=".ui.MenuActivity" />
        <activity
            android:name=".ui.coinflip.CoinFlipHistoryActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:exported="true"
            android:parentActivityName=".ui.coinflip.CoinFlipActivity" />
        <activity
            android:name=".ui.tasks.TaskEditActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:exported="true"
            android:theme="@style/Theme.Titanium" />
        <activity
            android:name=".ui.tasks.TaskManageActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:exported="true"
            android:parentActivityName=".ui.tasks.TasksActivity"
            android:theme="@style/Theme.Titanium" />
        <activity
            android:name=".ui.tasks.TasksActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:exported="true"
            android:parentActivityName=".ui.MenuActivity"
            android:theme="@style/Theme.Titanium" />
        <activity
            android:name=".ui.timer.TimerActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:exported="true"
            android:parentActivityName=".ui.MenuActivity"
            android:theme="@style/Theme.Titanium.Calm" />
        <activity
            android:name=".ui.ChildActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:exported="true"
            android:parentActivityName=".ui.MenuActivity"
            android:theme="@style/Theme.Titanium.Child" />
        <activity
            android:name=".ui.HelpActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:exported="true"
            android:parentActivityName=".ui.MenuActivity"
            android:theme="@style/Theme.Titanium.Help" />
        <activity
            android:name=".ui.MenuActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>