<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.cmpt276.titanium">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher_custom"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_custom_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Titanium">

        <activity
            android:name=".ui.HelpActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.tasks.TasksAddActivity"
            android:windowSoftInputMode="adjustNothing"
            android:configChanges="keyboard|keyboardHidden"
            android:exported="true" />
        <activity
            android:name=".ui.tasks.TasksViewActivity"
            android:windowSoftInputMode="adjustNothing"
            android:configChanges="keyboard|keyboardHidden"
            android:exported="true" />

        <receiver android:name=".ui.timer.TimerBroadcastReceiver" />

        <service android:name=".ui.timer.TimerService" />

        <activity
            android:name=".ui.coin_flip.ChangeChildActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:exported="false"
            android:parentActivityName=".ui.coin_flip.CoinFlipQueueActivity" />
        <activity
            android:name=".ui.coin_flip.CoinFlipQueueActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:exported="true"
            android:parentActivityName=".ui.coin_flip.CoinFlipActivity" />
        <activity
            android:name=".ui.tasks.TasksActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:exported="true"
            android:parentActivityName=".ui.MenuActivity" />
        <activity
            android:name=".ui.tasks.TasksEditActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:exported="true"
            android:parentActivityName=".ui.tasks.TasksViewActivity"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/Theme.Titanium.Child" />
        <activity
            android:name=".ui.coin_flip.CoinFlipHistoryActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:exported="true"
            android:parentActivityName=".ui.coin_flip.CoinFlipActivity" />
        <activity
            android:name=".ui.child.ChildViewActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:exported="true"
            android:parentActivityName=".ui.MenuActivity"
            android:theme="@style/Theme.Titanium.Child" />
        <activity
            android:name=".ui.child.ChildAddActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:exported="true"
            android:parentActivityName=".ui.MenuActivity"
            android:theme="@style/Theme.Titanium.Child" />
        <activity
            android:name=".ui.child.ChildEditActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:exported="true"
            android:parentActivityName=".ui.child.ChildViewActivity"
            android:theme="@style/Theme.Titanium.Child" />
        <activity
            android:name=".ui.coin_flip.CoinFlipActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:exported="true"
            android:parentActivityName=".ui.MenuActivity" />
        <activity
            android:name=".ui.timer.TimerActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:exported="true"
            android:parentActivityName=".ui.MenuActivity"
            android:theme="@style/Theme.Titanium.Calm" />
        <activity
            android:name=".ui.MenuActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>